.article-lead__top-overlay {
  background-color: #f3f2f2;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 248px;
  width: 100%;
}

.article-lead__top {
  position: absolute;
  background-color: $yellow;
  border-bottom-left-radius: 400px;
  border-top-left-radius: 400px;
  height: 772px;
  width: 80%;
  top: -524px;
  right: 0;
  z-index: -1;
}

.article-lead__overlay {
  position: absolute;
  top: 248px;
  left: 0;
  z-index: 0;
  width: 50%;
  height: 772px;
  background-color: $yellow;
}

.article-lead {
  background-color: $yellow;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  max-width: 100%;
  height: 772px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 248px;
  overflow: visible;
}

.article-lead__content {
  margin: auto;
  max-width: 868px;
  text-align: center;
}

.article-lead__title {
  max-width: 770px;
}

.article-lead__text {
  margin-top: 30px;
}

@include atDesktop1440 {
  .article-lead__top-overlay {
    height: 322px;
  }

  .article-lead__top {
    height: 579px;
    top: -257px;
  }

  .article-lead__overlay {
    top: 322px;
    height: 579px;
  }

  .article-lead {
    height: 579px;
    margin-top: 322px;
  }
}

@include atDesktop1024 {
  .article-lead__top-overlay {
    height: 267px;
  }

  .article-lead__top {
    height: 412px;
    top: -145px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
  }

  .article-lead__overlay {
    top: 267px;
    height: 412px;
  }

  .article-lead {
    height: 412px;
    margin-top: 267px;
  }

  .article-lead__text {
    max-width: 570px;
  }

  .article-lead__title {
    font-size: 37px;
    line-height: 39px;
    color: #1A1A1A;
    max-width: 530px;
  }
}

@include atTablet {
  .article-lead__top-overlay {
    display: none;
  }

  .article-lead__top {
    display: none;
  }

  .article-lead__overlay {
    display: none;
  }

  .article-lead {
    padding: 60px 15px 50px;
    margin-top: 0;
    height: fit-content;
    border-radius: unset;
  }

  .article-lead__title {
    font-size: 23px;
    line-height: 30px;
    color: #1A1A1A;
  }
}
